<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <title>Project</title>
</head>

<body>
  <div id="app"></div>
</body>

</html>